@layout.app({title: 'Login'}) 
@slot('meta')
    @vite('resources/css/app.css')
@endslot
    <h1>Login</h1>
    <form method="POST" action="{{route('login')}}">
        {{ csrfField() }}
        <label for="username">
            <input name="username" type="text" />
        </label>
        <label for="password">
            <input name="password" type="password" />
        </label>
        <button type="submit">Iniciar Sesion </button>
    </form>
@end